:root {
    --main-color : #656fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Varela Round', sans-serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hover-opacity {
    transition:opacity 0.3s;
}
.hover-opacity:hover {
    opacity: 0.8;
}
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
.main-heading span {
    display: block;
    background-color: var(--main-color);
    height: 4px;
    width: 50px;
    margin: 0 auto 70px;
}
.ltr-effect,
.tb-effect {
    position: relative;
}
.ltr-effect::after,
.tb-effect::after {
    content: '';
    position: absolute;
    background-color: #333;
    top: 0;
    left: 0;
    z-index: -1;
}
.ltr-effect::after {
    width: 0;
    height: 100%;
    transition: width 0.5s;
}
.ltr-effect:hover::after {
    width: 100%;
}
.tb-effect::after {
    width: 100%;
    height: 0;
    transition: height 0.5s;
}
.tb-effect:hover::after {
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montaserrat,sans-serif;
}
button {
    font-family: montaserrat,sans-serif;
}
.p-120 {
    padding: 120px 0;
}
/* Start Header */
.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: rgb(0 0 0 / 70%)
}
.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo img {
    width: 100px;
}
.header nav .bar{
    color: white;
    cursor: pointer;
}
.header nav .bar:hover {
    color: var(--main-color);
}
@media (min-width: 991px) {
    .header nav .bar {
    display: none;
    }
}
.header ul {
    list-style: none;
    display: flex;
}
@media (max-width: 992px) {
    .header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    margin-right: 20px;
    }
    .header nav ul li {
        padding: 10px 30px;
    }
}
.header nav .bar:hover + ul{
    display: flex;
}

.header ul li {
    display: inline;
}

.header nav .dropdown {
    position: relative;
}
.header nav ul.dropdown-menu {
    background-color: var(--main-color);
    position: absolute;
    margin-top: 15px;
    justify-content: center;
    min-width: 130px;
    padding: 10px 15px;
    left: -50%;
    display: none;
}
.header nav .dropdown:hover .dropdown-menu {
    display: flex;

}
.header nav ul.dropdown-menu li{
    text-align: center;
}
@media (max-width: 992px) {
    .header nav .dropdown .dropdown-menu {
    margin: 0;
    width: fit-content;
    padding: 5px;
    left: -115%;
    top: 0;
    }
}
.header ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.header nav ul li a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    bottom: -5px;
    left: 10px;
    transition: 0.5s;
}
.header nav ul li a:hover::before,
.header nav ul li a.active::before {
    width: calc(100% - 20px);
}
.header nav ul li ul a:hover::before {
    width: 0;
}
/* Start Home */
.home {
    height: 100vh;
    background-image: url(img/background1.jpg);
    background-size: cover;
    position: relative;
}
.home .home-content {
    width: 65%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .home-content h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    .home .home-content h1 {
        font-size: 1.5rem;
    }
}
.home .home-content p {
    color: white;
    margin: 20px 0;
    letter-spacing: 2px;
    line-height: 1.5;
}
@media (max-width: 992px) {
    .home .home-content p {
        font-size: 0.9rem;
    }
}
.home .home-content .btn{
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.home .home-content .btn-start {
    background-color: white;
}
.home .home-content .btn-learn {
    background-color: var(--main-color);
    color: white;
    margin-left: 10px;
}
/* Start About */
.about .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .boxes .box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px 20px;
    flex-basis: 30%;
}
@media (max-width: 992px) {
    .about .boxes .box {
        flex-basis: 45%;
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .about .boxes .box {
        flex-basis: 90%;
        margin-bottom: 30px;
    }
}
.about .boxes .box i {
    color: var(--main-color);
    margin-bottom: 20px;
}
.about .boxes .box h3 {
    margin-bottom: 20px;
    text-transform: capitalize;
    transition: 0.5s;
}
.about .boxes .box p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #999;
    transition: 0.5s;
}
.about .boxes .box:hover h3{
    color: white;
}
.about .boxes .box a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.about .boxes .box a:hover {
    letter-spacing: 1px;
}
/* Start Portfolio */
.portfolio {
    background-color: #f9f9f9;
}
.portfolio .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio .boxes .box {
    margin-top: 20px;
    position: relative;
    padding: 20px;
}
.portfolio .boxes .box img {
    width: 300px;
    max-width: 100%;
}
.portfolio .boxes .box .layer-content {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.portfolio .boxes .box:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.portfolio .boxes .box .layer-content .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.portfolio .boxes .box .layer-content .info span {
    color: var(--main-color);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.portfolio .boxes .box:hover .layer-content .info span {
    margin-top: 0;
}
.portfolio .boxes .box .layer-content .info h3 {
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: 0.5s;
    transition-delay: 0.3s;
}
.portfolio .boxes .box:hover .layer-content h3 {
    margin-top: 0;
}
.portfolio .boxes .box .layer-content .info i {
    line-height: 40px;
    color: white;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    transition-delay: 0.4s;
}
.portfolio .boxes .box:hover .layer-content i {
    margin-top: 0;
}
/* Start Services */
.services .srv-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .srv-boxes .srv-box{
    border: 1px solid #ccc;
    padding: 30px 15px;
    margin-top: 40px;
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .services .srv-boxes {
    justify-content: space-evenly;
    }
    .services .srv-boxes .srv-box {
    flex-basis: 45%;
    }
}
@media (max-width: 772px) {
    .services .srv-boxes {
        text-align: center;
        justify-content: space-evenly;
    }
    .services .srv-boxes .srv-box {
        flex-direction: column;
        flex-basis: 90%;
    }
    .services .srv-boxes .srv-box i {
        margin-bottom: 20px;
    }
}
.services .srv-boxes .srv-box i {
    color: var(--main-color);
}
.services .srv-boxes .srv-box .info {
    margin-left: 20px;
}
.services .srv-boxes .srv-box h3 {
    transition: 0.5s;
}
.services .srv-boxes .srv-box:hover h3 {
    color: white;
}
.services .srv-boxes .srv-box .info p {
    margin-top: 10px;
    color: #777;
}
/* Start Choose Us */
.choose {
    background-color: #f9f9f9;
}
.choose .choose-content {
    display: flex;
}
@media (min-width: 992px) {
    .choose .choose-content .content {
        flex-basis: 50%;
    }
    .choose .choose-content .content .main-heading {
        text-align: left;
    }
    .choose .choose-content .content .main-heading span {
        margin: 0 0 50px;
    }
    .choose .choose-content .item {
        flex-basis: 50%;
        position: relative;
    }
}
.choose .choose-content .content p {
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
}
.choose .choose-content .content ul {
    list-style: none;
    margin-top: 30px;
}
.choose .choose-content .content ul li {
    color: #999;
    line-height: 3;
    font-size: 18px;
}
@media (max-width: 776px) {
    .choose .choose-content .content ul li {
        line-height: 2;
        font-size: 16px;
    }
}
.choose .choose-content .content ul li i {
    font-size: 20px;
    color: var(--main-color);
    padding-right: 20px;
}
.choose .choose-content .item {
    position: relative;
}
.choose .choose-content .item .image img {
    max-width: 100%;
}
.choose .choose-content .item ul.bullets {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}
.choose .choose-content .item ul.bullets li {
    list-style: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    margin-right: 7px;
}
.choose .choose-content .item ul.bullets li.active,
.choose .choose-content .item ul.bullets li:hover {
    background-color: var(--main-color);
}
@media (max-width: 1199px) {
    .choose .choose-content .item {
        margin-top: 100px;
    }
}
@media (max-width: 992px) {
    .choose .choose-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* Start Numbers */
.numbers {
    position: relative;
    background-image: url(img/background2.jpg);
    background-attachment: fixed;
    height: 300px;
}
.numbers .numbers-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;
}
.numbers .numbers-items .item {
    text-align: center;
    color: white;
}
.numbers .numbers-items .item i {
    color: var(--main-color);
    margin-bottom: 15px;
}
.numbers .numbers-items .item h3 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}
@media (max-width: 992px) {
    .numbers {
        height: 420px;
    }
    .numbers .numbers-items{
        padding: 40px 0;
    }
    .numbers .numbers-items .item {
        flex-basis: 45%;
        margin-top: 50px;
    }
}
/* Start Pricing */
    .pricing .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width: 785px) {
    .pricing .cards {
        justify-content: space-evenly;
    }
}
.pricing .cards .card {
    border: 1px solid #ccc;
    padding: 30px 60px;
    text-align: center;
    margin-bottom: 50px;
}
.pricing .cards .card h3 {
    color: #999;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: color 0.5s;
}
.pricing .cards .card:hover h3 {
    color: var(--main-color);
}
.pricing .cards .card .price {
    border: 3px solid var(--main-color);
    height: 150px;
    width: 150px;
    padding: 40px;
    border-radius: 50%;
    margin: 0 auto;
}
.pricing .cards .card span:first-of-type {
    font-size: 40px;
    font-weight: bold;
}
.pricing .cards .card span:last-of-type {
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.pricing .cards .card:hover span {
    color: white;
}
.pricing .cards .card ul {
    color: #777;
    list-style: none;
    margin: 30px 0;
}
.pricing .cards .card ul li {
    line-height: 2;
}
.pricing .cards .card button {
    border: 2px solid var(--main-color);
    background-color: transparent;
    padding: 15px 30px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
/* Start Testimonials */
.testimonial {
    position: relative;
    background-image: url(img/background3.jpg);
    height: 400px;
    background-attachment: fixed;
}
.testimonial .testimonial-content {
    display: flex;
    padding: 100px 0;
    justify-content: space-evenly;
}
.testimonial .testimonial-content .content {
    color: white;
    width: 40%;
}
.testimonial .testimonial-content .content .head {
    display: flex;
    margin-bottom: 30px;
}
.testimonial .testimonial-content .content .head img {
    border-radius: 50%;
    margin-right: 30px;
}
.testimonial .testimonial-content .content .head span {
    color: var(--main-color);
    margin: 10px 0;
    display: block;
}
.testimonial .testimonial-content .content p {
    line-height: 1.5;
    font-size: 17px;
}
@media(max-width: 767px) {
    .testimonial {
        height: 600px;
    }
    .testimonial .testimonial-content {
        flex-direction: column;
    }
    .testimonial .testimonial-content .content {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .testimonial .testimonial-content .content .head {
        justify-content: center;
    }
}
/* Start Team */
.team .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 940px) {
    .team .cards {
        justify-content: space-evenly;
    }
}
.team .cards .card {
    background-color: #f9f9f9;
    text-align: center;
    padding: 40px 10px;
    margin-top: 50px;
}
.team .cards .card:hover {
    background-color: transparent;
}
.team .cards .card .image {
    position: relative;
    width: 90%;
    margin: auto;
}
.team .cards .card img {
    max-width: 100%;
    margin: auto;
}
.team .cards .card .image .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.team .cards .card:hover .image .overlay {
    opacity: 1;
    visibility: visible;
}
.team .cards .card .image .overlay a {
    text-decoration: none;
    display: block;
    width: 40px;
    background-color: var(--main-color);
    color: white;
    margin-left: auto;
}
.team .cards .card .image .overlay i {
    line-height: 40px;
}
.team .cards .card h3 {
    margin: 15px 0;
    font-size: 25px;
    color: #222;
    transition: color 0.5s;
}
.team .cards .card:hover h3 {
    color: white;
}
.team .cards .card span {
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team .cards .card:hover span {
    color: var(--main-color);
}
/* Start Blog */
.blog {
    background-color: #f9f9f9;
}
.blog .blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width: 992px) {
    .blog .blog-content {
        justify-content: space-evenly;
    }
}
.blog .blog-content .blog-item {
    background-color: white;
    width: fit-content;
    margin-bottom: 50px;
}
.blog .blog-content .blog-item .image {
    width: 350px;
}
.blog .blog-content .blog-item .image img {
    max-width: 100%;
}
.blog .blog-content .blog-item .info {
    padding: 20px;
    max-width: 300px;
}
.blog .blog-content .blog-item ul {
    margin: 10px 0;
}
.blog .blog-content .blog-item ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.blog .blog-content .blog-item ul li i {
    color: var(--main-color);
}
.blog .blog-content .blog-item h3{
    margin: 20px 0;
}
.blog .blog-content .blog-item p {
    color: #999;
    line-height: 1.5;
    margin-bottom: 15px;
}
.blog .blog-content .blog-item a {
    color: var(--main-color);
}
/* Start Contact Us */
@media (min-width: 768px) {
    .contact .contact-items {
        display: flex;
        justify-content: space-evenly;
    }
}
.contact .contact-items .item {
    text-align: center;
    margin-bottom: 40px;
}
.contact .contact-items .item i {
    color: var(--main-color);
    font-size: 20px;
}
.contact .contact-items .item h3 {
    font-size: 20px;
    margin: 10px 0;
}
.contact .contact-items .item span {
    color: #333;
}
.contact form {
    justify-content: center;
    text-align: center;
    margin: 50px auto 0;
}
@media (min-width: 992px) {
    .contact form { 
        width: 60%;
    }
}
.contact form input,
.contact form textarea {
    display: inline;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    outline-color: transparent;
    border: none;
    background-color: #f9f9f9;
}
.contact form input:focus {
    outline-color: var(--main-color);
}
.contact form input[name=name],
.contact form input[name=email] {
    width: 49%;
}
.contact form button {
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}
/* Start Footer */
.footer {
    background-color: #010101;
    text-align: center;
    padding: 60px 0;
}
.footer ul {
    margin: 20px 0;
}
.footer ul li {
    display: inline-block;
}
.footer ul li a {
    display: block;
    color: white;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
}
.footer ul li a i {
    line-height: 50px;
}
.footer p {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}
.footer p span {
    color: var(--main-color);
}
/* Top Button */
.top-btn {
background-color: var(--main-color);
display: block;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
cursor: pointer;
}
.top-btn {
    padding: 10px;
}
.top-btn i {
    color: white;
}